
<!---->



<div class="banner">
<h1>Banner ubuntu</h1>
    <ul>
        <li><%= link_to (image_tag "slider1.jpg", :width => "100%"), root_path %></li>
        <li><%= link_to (image_tag "slider2.jpg", :width => "100%"), root_path %></li>
        <li><%= link_to (image_tag "slider3.jpg", :width => "100%"), root_path %></li>
    </ul>
</div>

<div class="main-content">
    <div id="tabs">

         <ul>
            <li>
                <h2>
                    <a href="#special_sale">Sale Items</a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#featured">Featured Products</a>
                </h2>
            </li>
            <li>
                <h2>
                    <a href="#latest">Latest Products</a>
                </h2>
            </li>
        </ul>

        <div id="special_sale" class="clearfix">
          <% @products.where(special: true).each do |e| %>
            <div class="product">
                <div class="product-desc"><%= link_to e.short_description, e, class: 'threex3' %></div>
                <div class="home_images"><%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + e.image_name + '.jpg'), e %></div>
                <div class="product-price">€<%= e.price %></div>
            </div>
          <% end %>
        </div><!--#special_sale-->

        <div id="featured" class="clearfix">
          <% @products.where(featured: true).each do |e| %>
            <div class="product">
                <div class="product-desc"><%= link_to e.short_description, e, class: 'threex3' %></div>
                <div class="home_images"><%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + e.image_name + '.jpg'), e %></div>
                <div class="product-price">€<%= e.price %></div>
            </div>
          <% end %>
        </div><!--#featured-->

        <div id="latest" class="clearfix">
          <% @products.where(latest: true).each do |e| %>
            <div class="product">
                <div class="product-desc"><%= link_to e.short_description, e, class: 'threex3' %></div>
                <div class="home_images"><%= link_to image_tag('http://www.op-insight.co.uk/images/product/large/' + e.image_name + '.jpg'), e %></div>
                <div class="product-price">€<%= e.price %></div>
            </div>
          <% end %>
        </div><!--#latest-->

    </div><!--#tabs-->
</div><!--main-content-->




<script>
$(function() {
    $('.banner').unslider();
});
</script>